= simple_form_for @stitch, :html => { :class => 'form-horizontal' } do |f|
  = f.input :year
  = f.input :season_code
  = f.input :machine_id
  = f.input :composition
  = f.input :brand_id
  = f.input :thinness
  = f.input :stretch
  = f.input :vanise
  = f.input :description
  = f.input :code
  = f.input :yarn_codes
  = f.input :product_codes
  = f.input :stitch_type_codes
  = f.input :stitch_type_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), stitches_path, :class => 'btn'
