- model_class = Stitch
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

.span12
  .span11.offset1
    =link_to "archivia tutte le immagini", archive_stitches_path(:kind => "all_stitches"), :class => 'btn btn-warning', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm_archive", :default => 'Confermi la generazione? Verranno archiviate tutte le immagini, rimosso l\'archivio delle immagini aggiornate e impostato a false l\'attributo updated_images')) }

    =link_to "Archivia immagini aggiornate", archive_stitches_path(:kind => "updated_stitches"), :class => 'btn btn-info', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm_archive", :default => 'Confermi la generazione? Verranno archiviate solo le immagini per i punti con l\'attributo updated_images a true')) }

    =link_to "Testa caricamento Amazon S3", archive_stitches_path(:kind => "backup_test"), :class => 'btn btn-info', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm_archive", :default => 'Verra\' effettuato un test di upload sui server Amazon. Procedere?')) }

    =link_to "Archivia immagini in Amazon S3", archive_stitches_path(:kind => "backup"), :class => 'btn btn-info', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm_archive", :default => 'Attenzione l\'intero archivio verra caricato sui server di Amazon: la procedura potrebbe richiedere svariate ore. Procedere?')) }

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:year)
      %th= model_class.human_attribute_name(:composition)
      %th= model_class.human_attribute_name(:thinness)
      %th= model_class.human_attribute_name(:stretch)
      %th= model_class.human_attribute_name(:vanise)
      %th
        = model_class.human_attribute_name(:updated)
        %br
        = model_class.human_attribute_name(:images)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:pictures)
      %th= model_class.human_attribute_name(:stitch_type_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @stitches.each do |stitch|
      %tr
        %td= stitch.id
        %td= link_to stitch.code, stitch_path(stitch)
        %td= "#{stitch.year} / #{stitch.season_code}"
        %td= stitch.composition
        %td{:style =>"text-align:center;"}
          %span
            %strong
              = stitch.thinness
        %td
          -if stitch.stretch
            %span.icon-ok-circle{:title => "no", :style => "color:green;"}
          -else
            %span.icon-remove-circle{:title => "yes", :style => "color:orange;"}

        %td
          -if stitch.vanise
            %span.icon-ok-circle{:title => "no", :style => "color:green;"}
          -else
            %span.icon-remove-circle{:title => "yes", :style => "color:orange;"}

        %td
          -if stitch.updated_images
            %span.icon-ok-circle{:title => "no", :style => "color:green;"}
          -else
            %span.icon-remove-circle{:title => "yes", :style => "color:orange;"}


        %td= stitch.description

        %td
          =link_to "Visualizza", stitch_pictures_path({:stitch_id => stitch.id})
        %td
          -unless stitch.stitch_type.nil?
            =link_to stitch.stitch_type.description, stitch_type_path({:id => stitch.stitch_type_id})
          -else
            missing stitch_type
        %td=l stitch.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_stitch_path(stitch), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), stitch_path(stitch), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_stitch_path, :class => 'btn btn-primary'

=will_paginate @stitches, :renderer => BootstrapPagination::Rails, :class => 'pagination alternate'
