- model_class = Stitch
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:year) + ':'
  %br
  = @stitch.year
%p
  %strong= model_class.human_attribute_name(:season_code) + ':'
  %br
  = @stitch.season_code
%p
  %strong= model_class.human_attribute_name(:machine_id) + ':'
  %br
  = @stitch.machine_id
%p
  %strong= model_class.human_attribute_name(:composition) + ':'
  %br
  = @stitch.composition
%p
  %strong= model_class.human_attribute_name(:brand_id) + ':'
  %br
  = @stitch.brand_id
%p
  %strong= model_class.human_attribute_name(:thinness) + ':'
  %br
  = @stitch.thinness
%p
  %strong= model_class.human_attribute_name(:stretch) + ':'
  %br
  = @stitch.stretch
%p
  %strong= model_class.human_attribute_name(:vanise) + ':'
  %br
  = @stitch.vanise
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @stitch.description
%p
  %strong= model_class.human_attribute_name(:code) + ':'
  %br
  = @stitch.code
%p
  %strong= model_class.human_attribute_name(:yarn_codes) + ':'
  %br
  = @stitch.yarn_codes
%p
  %strong= model_class.human_attribute_name(:product_codes) + ':'
  %br
  = @stitch.product_codes
%p
  %strong= model_class.human_attribute_name(:stitch_type_codes) + ':'
  %br
  = @stitch.stitch_type_codes
%p
  %strong= model_class.human_attribute_name(:stitch_type_id) + ':'
  %br
  = @stitch.stitch_type_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), stitches_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_stitch_path(@stitch), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), stitch_path(@stitch), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
