# run as a daemon
-d

logfile /var/log/memcached.log

# memory limit
-m <%= memcached_memory_limit %>

# Pid file
-P /var/run/memcached_<%= application %>.pid

# port
-p <%= memcached_port %> 

# user
-u memcache

# listen only on localhost (for security)
-l 127.0.0.1