production:
  adapter: postgresql
  encoding: unicode
  database: <%= postgresql_database %>
  pool: <%= postgresql_pool %>
  username: <%= postgresql_user %>
  password: <%= postgresql_password %>
  host: <%= postgresql_host %>
