= simple_form_for @stitch_type, :html => { :class => 'form-horizontal' } do |f|
  = f.association :parent
  = f.input :code
  = f.input :leaf
  = f.input :description
  = f.input :full_description
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), stitch_types_path, :class => 'btn'
