- model_class = StitchType
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:parent_id)
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:leaf)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:stitches)
      %th= model_class.human_attribute_name(:extras)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @stitch_types.each do |stitch_type|
      %tr
        %td= link_to stitch_type.id, stitch_type_path(stitch_type)
        %td= stitch_type.parent_id
        %td= stitch_type.code
        %td= stitch_type.leaf
        %td= stitch_type.description
        %td
          -if stitch_type.stitches.count > 0
            =link_to "Stitches", stitches_path({:stitch_type_id => stitch_type.id})
          -else
            No stitch found
        %td
          -if stitch_type.has_children?
            =link_to "Childrens", stitch_types_path({:parent_id => stitch_type.id})
          -elsif stitch_type.has_products?
            =link_to "Stitch Type Products", stitch_type_products_path({:stitch_type_id => stitch_type.id})
        %td=l stitch_type.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_stitch_type_path(stitch_type), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), stitch_type_path(stitch_type), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

=will_paginate @stitch_types, :renderer => BootstrapPagination::Rails, :class => 'pagination alternate'

= link_to t('.new', :default => t("helpers.links.new")), new_stitch_type_path, :class => 'btn btn-primary'
