- model_class = StitchType
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:parent_id) + ':'
  %br
  = @stitch_type.parent_id
%p
  %strong= model_class.human_attribute_name(:code) + ':'
  %br
  = @stitch_type.code
%p
  %strong= model_class.human_attribute_name(:leaf) + ':'
  %br
  = @stitch_type.leaf
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @stitch_type.description
%p
  %strong= model_class.human_attribute_name(:full_description) + ':'
  %br
  = @stitch_type.full_description


.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), stitch_types_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_stitch_type_path(@stitch_type), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), stitch_type_path(@stitch_type), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
