= simple_form_for @macro_season, :html => { :class => 'form-horizontal' } do |f|
  = f.input :code
  = f.input :description
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), macro_seasons_path, :class => 'btn'
