- model_class = MacroSeason
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @macro_seasons.each do |macro_season|
      %tr
        %td= link_to macro_season.id, macro_season_path(macro_season)
        %td= macro_season.code
        %td= macro_season.description
        %td=l macro_season.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_macro_season_path(macro_season), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), macro_season_path(macro_season), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

=will_paginate @macro_seasons, :renderer => BootstrapPagination::Rails, :class => 'pagination alternate'

= link_to t('.new', :default => t("helpers.links.new")), new_macro_season_path, :class => 'btn btn-primary'
