- model_class = MacroSeason
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:code) + ':'
  %br
  = @macro_season.code
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @macro_season.description

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), macro_seasons_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_macro_season_path(@macro_season), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), macro_season_path(@macro_season), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
