check process memcached
    with pidfile /var/run/memcached_<%= application %>.pid
    start program = "/etc/init.d/memcached start"
    stop program = "/etc/init.d/memcached stop"
    
    if failed host <%= memcached_host %> port <%= memcached_port %> then restart
    if failed host <%= memcached_host %> port <%= memcached_port %> then alert
    if memory > <%= memcached_memory_limit %>.0 MB for 10 cycles then alert
    if cpu > 50% for 4 cycles then restart
    if 5 restarts within 30 cycles then timeout
