set daemon 30

set logfile /var/log/monit.log
set idfile /var/lib/monit/id
set statefile /var/lib/monit/state

set eventqueue
    basedir /var/lib/monit/events
    slots 100

set mailserver smtp.gmail.com port 587
    username "<%= mailer_user %>" password "<%= mailer_pass %>"
    using tlsv1
    with timeout 30 seconds

set alert <%= admin_email %>

set httpd port 3200
    allow <%= monit_user %>:"<%= monit_pass %>"

check system monit_server
  if loadavg(5min) > 2 for 20 cycles then alert
  if memory > 75% for 20 cycles then alert
  if cpu(user) > 75% for 20 cycles then alert

include /etc/monit/conf.d/*
