= simple_form_for @picture, :html => { :class => 'form-horizontal' } do |f|
  = f.input :description
  = f.association :stitch
  = f.input :image
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), pictures_path, :class => 'btn'
