- model_class = Picture
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

=link_to "Scarica archivio da amazon S3", download_archive_pictures_path(:kind => "all"), :class => 'btn btn-info'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:thumb)
      %th= model_class.human_attribute_name(:stitch_id)
      %th= model_class.human_attribute_name(:image_file_name)
      %th= model_class.human_attribute_name(:image_content_type)
      %th= model_class.human_attribute_name(:image_file_size)
      %th= model_class.human_attribute_name(:image_updated_at)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @pictures.each do |picture|
      %tr
        %td= link_to picture.id, picture_path(picture)
        %td
          =image_tag picture.image.url(:medium), :style => "height:30px;"
        %td= picture.stitch_id
        %td= picture.image_file_name
        %td= picture.image_content_type
        %td= picture.image_file_size
        %td= picture.image_updated_at
        %td=l picture.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_picture_path(picture), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), picture_path(picture), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

=will_paginate @pictures, :renderer => BootstrapPagination::Rails, :class => 'pagination alternate'

= link_to t('.new', :default => t("helpers.links.new")), new_picture_path, :class => 'btn btn-primary'
