- model_class = Picture
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @picture.description
%p
  %strong= model_class.human_attribute_name(:stitch_id) + ':'
  %br
  = @picture.stitch_id
%p
  %strong= model_class.human_attribute_name(:image) + ':'
  %br
  =image_tag @picture.image.url(:medium)

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), pictures_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_picture_path(@picture), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), picture_path(@picture), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
