= simple_form_for @stitch_type_product, :html => { :class => 'form-horizontal' } do |f|
  = f.input :stitch_type_code
  = f.input :stitch_type_id
  = f.input :product_code
  = f.input :product_id
  = f.input :description
  = f.input :category
  = f.input :year
  = f.input :season
  = f.input :brand
  = f.input :model
  = f.input :updated_picture
  = f.input :updated_sketch
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), stitch_type_products_path, :class => 'btn'
