- model_class = StitchTypeProduct
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

.span12
  .span11.offset1
    =link_to "archivia tutte le immagini", archive_stitches_path(:kind => "all_products_images"), :class => 'btn btn-warning', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm_archive", :default => 'Confermi la generazione? Verranno archiviate tutte le immagini, rimosso l\'archivio delle immagini aggiornate e impostato a false l\'attributo updated_picture')) }

    =link_to "archivia tutti i bozzetti", archive_stitches_path(:kind => "all_products_sketches"), :class => 'btn btn-warning', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm_archive", :default => 'Confermi la generazione? Verranno archiviate tutte le immagini, rimosso l\'archivio dei bozzetti aggiornati e impostato a false l\'attributo updated_sketch')) }

    =link_to "Archivia immagini aggiornate", archive_stitches_path(:kind => "updated_products_images"), :class => 'btn btn-info', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm_archive", :default => 'Confermi la generazione? Verranno archiviate solo le immagini per i prodotti con l\'attributo updated_picture a true')) }

    =link_to "Archivia immagini bozzetti aggiornate", archive_stitches_path(:kind => "updated_products_sketches"), :class => 'btn btn-info', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm_archive", :default => 'Confermi la generazione? Verranno archiviate solo le immagini dei bozzetti per i prodotti con l\'attributo updated_sketch a true')) }

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th
        = model_class.human_attribute_name(:stitch)
        %br
        = model_class.human_attribute_name(:type)
        %br
        = model_class.human_attribute_name(:code)

        
      %th= model_class.human_attribute_name(:product_code)
      %th= model_class.human_attribute_name(:stitch_type)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:year)
      %th= model_class.human_attribute_name(:season)
      %th= model_class.human_attribute_name(:brand)
      %th= model_class.human_attribute_name(:sketch)
      %th= model_class.human_attribute_name(:image)
      %th
 
        = model_class.human_attribute_name(:updated)
        %br
        = model_class.human_attribute_name(:sketch)

      %th
 
        = model_class.human_attribute_name(:updated)
        %br
        = model_class.human_attribute_name(:picture)

      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @stitch_type_products.each do |stitch_type_product|
      %tr
        %td= stitch_type_product.id
        %td= stitch_type_product.stitch_type_code
        %td= link_to stitch_type_product.product_code, stitch_type_product_path(stitch_type_product)
        %td
          -unless stitch_type_product.stitch_type.nil?
            = stitch_type_product.stitch_type.description
        %td= stitch_type_product.description
        %td= stitch_type_product.year
        %td= stitch_type_product.season
        %td= stitch_type_product.brand
        %td
          -unless stitch_type_product.sketch_file_name.nil?
            =link_to image_tag(stitch_type_product.sketch.url(:original), :style => "height:30px;"), stitch_type_product.sketch.url(:original), :target =>  "_blank"
        %td
          -unless stitch_type_product.image_file_name.nil?
            =link_to image_tag(stitch_type_product.image.url(:medium), :style => "height:30px;"),stitch_type_product.image.url(:medium), :target =>  "_blank"

        %td
          -if stitch_type_product.updated_sketch
            %span.icon-ok-circle{:title => "no", :style => "color:green;"}
          -else
            %span.icon-remove-circle{:title => "yes", :style => "color:orange;"}

        %td
          -if stitch_type_product.updated_picture
            %span.icon-ok-circle{:title => "no", :style => "color:green;"}
          -else
            %span.icon-remove-circle{:title => "yes", :style => "color:orange;"}
        
        %td=l stitch_type_product.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_stitch_type_product_path(stitch_type_product), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), stitch_type_product_path(stitch_type_product), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

=will_paginate @stitch_type_products, :renderer => BootstrapPagination::Rails, :class => 'pagination alternate'

= link_to t('.new', :default => t("helpers.links.new")), new_stitch_type_product_path, :class => 'btn btn-primary'
