- model_class = StitchTypeProduct
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

.row-fluid
  .span6
    %p
      %strong
        = model_class.human_attribute_name(:stitch)
        %br
        = model_class.human_attribute_name(:type)
        %br
        = model_class.human_attribute_name(:code) + ':'
      %br
      = @stitch_type_product.stitch_type_code
    %p
      %strong= model_class.human_attribute_name(:stitch_type_id) + ':'
      %br
      = @stitch_type_product.stitch_type_id
    %p
      %strong= model_class.human_attribute_name(:product_code) + ':'
      %br
      = @stitch_type_product.product_code
    %p
      %strong= model_class.human_attribute_name(:product_id) + ':'
      %br
      = @stitch_type_product.product_id
    %p
      %strong= model_class.human_attribute_name(:description) + ':'
      %br
      = @stitch_type_product.description
    %p
      %strong= model_class.human_attribute_name(:category) + ':'
      %br
      = @stitch_type_product.category
    %p
      %strong= model_class.human_attribute_name(:year) + ':'
      %br
      = @stitch_type_product.year
    %p
      %strong= model_class.human_attribute_name(:season) + ':'
      %br
      = @stitch_type_product.season
    %p
      %strong= model_class.human_attribute_name(:brand) + ':'
      %br
      = @stitch_type_product.brand
    %p
      %strong= model_class.human_attribute_name(:model) + ':'
      %br
      = @stitch_type_product.model
    %p
      %strong= model_class.human_attribute_name(:updated_picture) + ':'
      -if @stitch_type_product.updated_picture
        %span.icon-ok-circle{:title => "no", :style => "color:green;font-size:25px;"}
      -else
        %span.icon-remove-circle{:title => "yes", :style => "color:orange;font-size:25px;"}

    %p
      %strong= model_class.human_attribute_name(:updated_sketch) + ':'
      -if @stitch_type_product.updated_sketch
        %span.icon-ok-circle{:title => "no", :style => "color:green;font-size:25px;"}
      -else
        %span.icon-remove-circle{:title => "yes", :style => "color:orange;font-size:25px;"}

  .span6
    %div
      %h3 Sketch image
      -unless @stitch_type_product.sketch_file_name.nil?
        =image_tag(@stitch_type_product.sketch.url(:original), :style => "height:200px;")
    %div
      %h3 Sketch image
      -unless @stitch_type_product.image_file_name.nil?
        =link_to image_tag(@stitch_type_product.image.url(:medium), :style => "height:200px;"), @stitch_type_product.image.url(:original)

.row-fluid
  .span12
    .form-actions
      = link_to t('.back', :default => t("helpers.links.back")), stitch_type_products_path, :class => 'btn'
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_stitch_type_product_path(@stitch_type_product), :class => 'btn'
      = link_to t('.destroy', :default => t("helpers.links.destroy")), stitch_type_product_path(@stitch_type_product), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
