- model_class = Brand
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @brands.each do |brand|
      %tr
        %td= link_to brand.id, brand_path(brand)
        %td= brand.code
        %td= brand.description
        %td=l brand.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_brand_path(brand), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), brand_path(brand), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

=will_paginate @brands, :renderer => BootstrapPagination::Rails, :class => 'pagination alternate'

= link_to t('.new', :default => t("helpers.links.new")), new_brand_path, :class => 'btn btn-primary'
