- model_class = Brand
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:code) + ':'
  %br
  = @brand.code
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @brand.description

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), brands_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_brand_path(@brand), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), brand_path(@brand), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
