= simple_form_for @yarn, :html => { :class => 'form-horizontal' } do |f|
  = f.input :supplier_code
  = f.input :supplier_name
  = f.input :description
  = f.input :code
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), yarns_path, :class => 'btn'
