- model_class = Yarn
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:supplier_code)
      %th= model_class.human_attribute_name(:supplier_name)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @yarns.each do |yarn|
      %tr
        %td= link_to yarn.id, yarn_path(yarn)
        %td= yarn.supplier_code
        %td= yarn.supplier_name
        %td= yarn.description
        %td= yarn.code
        %td=l yarn.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_yarn_path(yarn), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), yarn_path(yarn), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_yarn_path, :class => 'btn btn-primary'
