- model_class = Yarn
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:supplier_code) + ':'
  %br
  = @yarn.supplier_code
%p
  %strong= model_class.human_attribute_name(:supplier_name) + ':'
  %br
  = @yarn.supplier_name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @yarn.description
%p
  %strong= model_class.human_attribute_name(:code) + ':'
  %br
  = @yarn.code

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), yarns_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_yarn_path(@yarn), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), yarn_path(@yarn), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
