= simple_form_for @machine, :html => { :class => 'form-horizontal' } do |f|
  = f.input :description
  = f.input :code
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), machines_path, :class => 'btn'
