- model_class = Machine
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @machines.each do |machine|
      %tr
        %td= link_to machine.id, machine_path(machine)
        %td= machine.description
        %td= machine.code
        %td=l machine.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_machine_path(machine), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), machine_path(machine), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_machine_path, :class => 'btn btn-primary'

=will_paginate @machines, :renderer => BootstrapPagination::Rails, :class => 'pagination alternate'