- model_class = Machine
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @machine.description
%p
  %strong= model_class.human_attribute_name(:code) + ':'
  %br
  = @machine.code

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), machines_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_machine_path(@machine), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), machine_path(@machine), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
