- model_class = Supplier
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:yarns)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @suppliers.each do |supplier|
      %tr
        %td= link_to supplier.id, supplier_path(supplier)
        %td= supplier.code
        %td= supplier.description
        %td
          =link_to "Filati",yarns_path(:supplier_code => supplier.code)
        %td=l supplier.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_supplier_path(supplier), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), supplier_path(supplier), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_supplier_path, :class => 'btn btn-primary'

=will_paginate @suppliers, :renderer => BootstrapPagination::Rails, :class => 'pagination alternate'