- model_class = Supplier
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:code) + ':'
  %br
  = @supplier.code
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @supplier.description

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), suppliers_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_supplier_path(@supplier), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), supplier_path(@supplier), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
