= form_for @stitch_product do |f|
  - if @stitch_product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stitch_product.errors.count, "error")} prohibited this stitch_product from being saved:"
      %ul
        - @stitch_product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :stitch_id
    = f.number_field :stitch_id
  .field
    = f.label :product_id
    = f.number_field :product_id
  .field
    = f.label :category_id
    = f.number_field :category_id
  .field
    = f.label :brand
    = f.text_field :brand
  .field
    = f.label :model
    = f.text_field :model
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
