%h1 Listing stitch_products

%table
  %tr
    %th Stitch
    %th Product
    %th Category
    %th Brand
    %th Model
    %th Description
    %th
    %th
    %th

  - @stitch_products.each do |stitch_product|
    %tr
      %td= stitch_product.stitch_id
      %td= stitch_product.product_id
      %td= stitch_product.category_id
      %td= stitch_product.brand
      %td= stitch_product.model
      %td= stitch_product.description
      %td= link_to 'Show', stitch_product
      %td= link_to 'Edit', edit_stitch_product_path(stitch_product)
      %td= link_to 'Destroy', stitch_product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

=will_paginate @stitch_products, :renderer => BootstrapPagination::Rails, :class => 'pagination alternate'

= link_to 'New Stitch product', new_stitch_product_path
