%p#notice= notice

%p
  %b Stitch:
  = @stitch_product.stitch_id
%p
  %b Product:
  = @stitch_product.product_id
%p
  %b Category:
  = @stitch_product.category_id
%p
  %b Brand:
  = @stitch_product.brand
%p
  %b Model:
  = @stitch_product.model
%p
  %b Description:
  = @stitch_product.description

= link_to 'Edit', edit_stitch_product_path(@stitch_product)
\|
= link_to 'Back', stitch_products_path
