!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Miles"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    = favicon_link_tag('favicon.ico')
    = javascript_include_tag "application"



  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="#") Miles
          .container.nav-collapse
            %ul.nav
              %li= link_to "Macchine", machines_path
              %li= link_to "Filati", yarns_path
              %li= link_to "Prodotti", products_path
              %li= link_to "Macro Stagioni", macro_seasons_path
              %li= link_to "Tipi punto", stitch_types_path({:parent_id => -1})
              %li= link_to "Punti", stitches_path
              %li= link_to "Fornitori", suppliers_path
              %li= link_to "Marchi", brands_path
              %li= link_to "Immagini", pictures_path
              %li= link_to "Prodotti Tipo punto", stitch_type_products_path
              %li=I18n.locale.upcase
            -if queue > 0
              =link_to "#{queue} images in queue for import", sidekiq_path, :class => "label label-info", :style => "margin-top:10px;line-height:15px"


    .container-fluid

      .row-fluid
        .span12
          = bootstrap_flash
          = yield

      %footer
        %p &copy; BlueTouch Development 2013
